.DS_Store

db/schema.rb
doc/
pkg/
*.properties
*.db
*.dat
*.log
last_response.html
migration.sql
.idea/
.bundle/
vendor/
results/

project/project/
project/target/
target/
data/

*.rpmmacros

.cache
.classpath
.idea_modules
.project
.settings
*.swp

.ensime
.ensime_cache
