.DS_Store

doc/
pkg/
*.db
*.dat
*.log
last_response.html
.idea/
.bundle/
vendor/
results/

project/project/
project/target/
target/
data/

*.rpmmacros

.cache
.classpath
.idea_modules
.project
.settings
*.swp

.ensime
.ensime_cache

.worksheet
